<nav>
  <div class="col-8 offset-2"><h2>My app </h2>
    <ul>
      <li> add new offer</li>
      <li> login</li>
    </ul>

  </div>
</nav>
<div class="container">

  <div class="card">
    <div class="card-title"><h3> {{event.name}}</h3></div>
    <div class="card-body">

      <p> {{event.price}}</p>
      <p>{{event.date}}</p>
      <p>{{event.description}}</p>
      <div class="card-img">
        <img src="{{event.img}}"></div>
    </div>
  </div>
  <div class="card">
    <div class="card-title"><h3> {{event2.name}}</h3></div>
    <div class="card-body">

      <p> {{event2.price}}</p>
      <p>{{event2.date}}</p>
      <p>{{event2.description}}</p>
      <div class="card-img">
        <img src="{{event2.img}}"></div>
    </div>
  </div>
  <div class="card">
    <div class="card-title"><h3> {{event3.name}}</h3></div>
    <div class="card-body">

      <p> {{event3.price}}</p>
      <p>{{event3.date}}</p>
      <p>{{event3.description}}</p>
      <div class="card-img">
        <img src="{{event3.img}}"></div>
    </div>
  </div>

</div>
