<mat-card class="col-8 offset-2" style="width: 900px;margin: auto">

  <h2> Login </h2>
  <mat-form-field color="accent">
    <input  [(ngModel)]="username" matInput placeholder="username">
  </mat-form-field>
 <mat-form-field color="accent">
   <input   [(ngModel)]="password" matInput placeholder="password" type="password">
 </mat-form-field>
<div class="loginButtons">
  <button mat-flat-button color="accent" (click)="login()">Login</button>
  <button mat-flat-button color="warn" (click)="cancel()"> Cancel </button>
  </div>
</mat-card>
