h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;

}

mat-card {
  padding: 10px;
  margin: 15px;
 width: 400px;
  height: 500px;

}

.card-img img {
  max-width: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  background:#eeddee;
  opacity: 0;
  transition: 0.3s;
}
.overlay:hover{
  opacity: 0.3;
}
